html {
  font-size: 62.5%;
  --font-heading: "Sen", sans-serif;
  --button-yellow: #ffb900;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  flex-shrink: 0;
  height: 100000px;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
/* common */
a {
  text-decoration: none;
}
.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 48px; /* 126.316% */
  letter-spacing: -0.76px;
}
.descript {
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
button:hover {
  opacity: 0.6;
  border: none;
  cursor: pointer;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp.line-2 {
  -webkit-line-clamp: 2;
}
/* Header */
.header {
  background: #fffcf4;
  position: relative;
}
header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header .body {
  display: flex;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 8px;
}
.header .logo {
  width: 8.5rem;
  height: 3.4rem;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 8px 21px;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  font-size: 1.6rem;
  /* font-weight: 600; */
  text-shadow: -1px 0 0 currentColor;
}
.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: inline-block;
  content: "";
  width: 12px;
  height: 2px;
  flex-shrink: 0;
  border-radius: 1px;
  background: #171100;
}
.btn {
  display: flex;
  line-height: 50px;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
}
.btn:hover {
  opacity: 0.6;
}
header .btn-sign-up {
  min-width: 144px;
  margin-left: 49px;
}

/* ==========hero=============== */
.hero {
  padding-top: 56px;
  padding-bottom: 65px;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}
/* hero left */
.hero .media-block .img {
  width: 470px;
  height: 685px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 20px;
}
.hero .media-block {
  position: relative;
}
.hero .media-block .hero-summary {
  padding: 24px;
  position: absolute;
  width: 222px;
  height: 196px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  top: 393px;
  bottom: 48px;
  left: 300px;
}
.hero-summary .item {
  display: flex;
}
.hero-summary .item + .item {
  margin-top: 14px;
}

.hero .item .icon {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.item .icon1 {
  background-color: #fff9e8;
}
.item .icon2 {
  background-color: #fcefff;
}
.item .icon3 {
  background-color: #ebeaff;
}

.info {
  margin-left: 16px;
}

.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.6rem; /* 185.714% */
}

.hero-summary .title {
  color: #171100;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3rem; /* 166.667% */
}

/* hero right */
.hero .content-block {
  margin-left: 230px;
  margin-top: 64px;
}
.content-block .heading {
  width: 470px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 68px; /* 117.241% */
  letter-spacing: -1.16px;
}

.hero .descript {
  margin-top: 22px;
  width: 470px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.hero .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.hero-cta {
  width: 180px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 32px;
  background: var(--button-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .watch-video {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  margin-left: 28px;
  cursor: pointer;
}
.hero .watch-video:hover {
  opacity: 0.6;
}
.watch-video .icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: center;
}
.watch-video span {
  margin-left: 14px;
  color: #171100;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}

.content-block .d2 {
  margin-top: 48px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.content-block .d3 {
  margin-top: 8px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px;
}
.content-block .d3 strong {
  color: #171100;

  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 54px; /* 122.727% */
}

/* ************* popular ************* */
.popular {
  padding: 200px 0 200px 0;
}
/* popular top */
.popular-top {
  display: flex;
}

.popular-top .descript {
  width: 458px;
  margin-top: 16px;
}
.popular .controls {
  display: flex;
  margin-left: 614px;
  margin-top: 42px;
}
.popular-top .controls-btn {
  background-color: transparent;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-top .left {
  border: 1px solid #ffb900;
}

.popular-top .right {
  background: #ffb900;
  margin-left: 18px;
}

/* popular bottom */
.popular .course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
  flex: 1;
}

.popular .course-item {
  width: 370px;
  height: 466px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}

.popular .course-item:hover {
  width: 370px;
  height: 466px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.popular .course-list .info {
  margin: 16px 22px 22px 22px;
}

.popular .course-list .info .head {
  display: flex;
  justify-content: space-between;
}
.popular .course-list .info .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}

.popular .course-list .info .rating {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.popular .course-list .info .star {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

.popular .course-list .info .value {
  color: #fea31b;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.popular .course-item .descript {
  margin-top: 6px;
  color: #5f5b53;
  width: 326px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}

.popular .course-item .foot {
  margin-top: 12px;
  display: flex;
  gap: 141px;
  align-items: center;
}

.popular .course-item .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}

.popular .course-item .btn-book {
  width: 118px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
}

.popular .course-item .btn-book:hover {
  background-color: var(--button-yellow);
  opacity: 1;
}

/* ====================feedback=================== */
.feedback {
  background: #2e2100;
  padding: 96px 0;
}

.feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback-item {
  display: flex;
  width: 100%;
  flex-shrink: 0;
}

.feedback-item .avatar {
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 72px;
  object-fit: cover;
}

.feedback-item .name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
}
.feedback-item .descript {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}

.feedback-item .dots {
  margin-top: 28px;
  display: flex;
  gap: 6px;
}

.feedback-item .dot {
  width: 6px;
  height: 6px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #634700;
  cursor: pointer;
}

.feedback-item .dot.active {
  background: var(--button-yellow);
  cursor: default;
}

.feedback-item .content {
  width: 66%;
  margin-left: auto;
}

.feedback-item .content blockquote {
  display: block;
  position: relative;
  left: 30px;
  width: 740px;
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 40px; /* 153.846% */
}

/* ==========features=============== */
.features {
  margin-top: 200px;
}

.features .body {
  display: flex;
  justify-content: space-between;
}
.features .imgs {
  display: flex;
  gap: 30px;
}

.features .img {
  width: 270px;
  height: 405px;
  flex-shrink: 0;
}

.features .img1 {
  margin-top: 34px;
}

.features .content {
  width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features .descript {
  color: #5f5b53;
  width: 458px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-top: 16px;
}

.features .cta-btn {
  width: 137px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 26px;
  background: var(--button-yellow);
  margin-top: 32px;
}

.features2 .img3 {
  width: 470px;
  height: 440px;
  flex-shrink: 0;
}

.features2 .content,
.features2 .heading-lv2,
.features2 .descript {
  width: 570px;
}

/* ==========blogs=============== */
.blogs {
  background: #fffcf4;
  margin-top: 200px;
  padding: 96px 0;
}

.blog-top {
  text-align: center;
}

.blog-top .descript {
  width: 448px;
  color: #696262;
  margin: 16px auto 55px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.blog-bottom {
  display: flex;
  position: relative;
  gap: 30px;
  overflow: hidden;
  height: 499px;
  width: 1202px;
  margin-left: -16px;
}

.blog-bottom .item {
  width: 370px;
  height: 467px;
  flex-shrink: 0;
  background: #fff;
}

.blog-bottom .item:first-child {
  margin-left: 16px;
}
.blog-bottom .item:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}

.blog-bottom .date {
  display: inline-flex;
  margin-top: 20px;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  align-items: center;
  position: relative;
  margin-bottom: 25px;
}

.blog-bottom .date::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  flex-shrink: 0;
  background-color: var(--button-yellow);
  border-radius: 50%;
  margin: 0 4px 0 20px;
}

.blog-bottom .date::after {
  position: absolute;
  left: 20px;
  top: 38px;
  content: "";
  display: inline-block;
  right: -27px;
  height: 1px;
  flex-shrink: 0;
  border-radius: 0.5px;
  background: #e2dfda;
}

.blog-bottom .title {
  width: 330px;
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 28px; /* 175% */
  margin: 0 0 12px 20px;
}

.blog-bottom .btn {
  width: 118px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #171100;
  margin-left: 20px;
}

.blog-bottom .btn:hover {
  background-color: var(--button-yellow);
  opacity: 1;
}

.blogs .dots {
  display: flex;
  gap: 6px;
  margin-top: 6px;
  justify-content: center;
}

.blogs .dot {
  width: 6px;
  height: 6px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #5f5b53;
  cursor: pointer;
}

.blogs .dot.active {
  background: var(--button-yellow);
  cursor: default;
}
